body{
    margin: 0%;
    overflow-x: hidden;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
.header-bg{
    margin: 0%;
    position: relative;
    display: block;
    background-color: #1B262C;
    width: 100vw;
    height: 100vh;
}
.top-hr{
    position: absolute;
    top: 2%;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 1%;
    background: white;
}
.decor1{
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
}
.prof-pic{
    width: 25%;
    border-radius: 30%;
    box-shadow: 0.2vw 0.2vw 0.2vw #BBE1FA;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 10%;
}
.bottom-hr{
    position: absolute;
    bottom: 2%;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 1%;
    background: white;
}
.header-name{
    font-size: 5vw;
    font-family: "Oswald", sans-serif;
    color: cornsilk;
    position: absolute;
    right: 5%;
    top: 30%;
}
.header-desc{
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: honeydew;
    position: absolute;
    right: 5%;
    top: 45%;
}
.thm-badge{
    position: absolute;
    right: 5%;
    top: 55%;
}
.linkedin{
    position: absolute;
    right: 27%;
    top: 55%;
    width: 5vw;
}
.instagram{
    position: absolute;
    right: 34%;
    top: 54%;
    width: 6vw;
}
.about-bg{
    position: relative;
    margin: 0%;
    background: #0F4C75;
    display: block;
    width: 100vw;
    height: 100vh;
}
.about-outerbox{
    position: absolute;
    border-radius: 2%;
    top: 15vh;
    left: 5vw;
    background-color: lightslategrey;
    width: 33vw;
    height: 80vh;
    box-shadow: 0 0 0 0.3vw black;
}
.about-innerbox{
    position: relative;
    height: 80vh;
    border-radius: 2%;
    bottom: 1.5vh;
    left: 1vw;
    background-color: burlywood;
    width: 33vw;
    box-shadow: 0 0 0 0.3vw ;
}
.about-innerbox h1{
    padding: 2vw 2vw 0.5vw 2vw;
    text-align: left;
    word-spacing: 0.5vw;
    font-size: 1.5vw;
    font-family: 'Lora', sans-serif;
}
.about-innerbox p{
    padding: 0.5vw 2vw 0.5vw 2vw;
    text-align: justify;
    font-weight: 100;
    font-size: 1vw;
    font-family: 'Lora', sans-serif;
}
.slide-title{
    position: absolute;
    padding: 0.4vw;
    background-color: whitesmoke;
    border-radius: 1%;
    box-shadow: 0 0 0 0.3vw;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 2vw;
    margin: 0%;
    top: 2vh;
    right: 10vw;
}
.about-title{
    position: absolute;
    padding: 0.4vw;
    background-color: whitesmoke;
    border-radius: 1%;
    box-shadow: 0 0 0 0.3vw;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 2vw;
    margin: 0%;
    top: 2vh;
    left: 17vw;
}
.certi-show{
    background-color: white;
    margin: 0%;
    width: 40vw;
    position: absolute;
    top: 20vh;
    right: 9vw;
}
.slidesimg{
    position: relative;
    display: none;
    animation: animateright 1s;
    width: 100%;
}
@keyframes animateright{
0%{
    right: -1vw;
    opacity: 0;
}
100%{
    right: 0;
    opacity: 1;
}
}
